obj/Debug/net8.0/Pokemod.AssemblyInfo.cs
obj/Debug/net8.0/Pokemod.AssemblyInfoInputs.cache
obj/Debug/net8.0/Pokemod.csproj.AssemblyReference.cache
obj/Debug/net8.0/Pokemod.GeneratedMSBuildEditorConfig.editorconfig
obj/Pokemod.csproj.nuget.dgspec.json
obj/Pokemod.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/Pokemod.AssemblyInfo.cs
obj/Debug/net8.0/Pokemod.AssemblyInfoInputs.cache
obj/Debug/net8.0/Pokemod.assets.cache
obj/Debug/net8.0/Pokemod.csproj.AssemblyReference.cache
obj/Debug/net8.0/Pokemod.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Pokemod.AssemblyInfo.cs
obj/Debug/net8.0/Pokemod.AssemblyInfoInputs.cache
.vs/Pokemod\CopilotIndices\17.12.53.23981
.vs/Pokemod/FileContentIndex
.vs/Pokemod/v17
